In [164]:
import fileinput
import sys
import glob 
import pandas as pd
import numpy as np

line() or delete()

copy()  // copy original

copy()  // copy original

add()   // add a new line 

change() // overwrite line

In [140]:

filenames = {"test":  '../original_corpus/eng.testb',
             "dev" :  '../original_corpus/eng.testa',
             "train": '../original_corpus/eng.train'}
folds = ['test','dev','train']
dtypes_in = {'correct_line':str}

log = []
log.append("line, num_added")

files = {}
for fold,filename in filenames.items(): 
    print(fold,filename)
    with open(filename, 'r') as file:
        files[fold] = file.readlines()

filenames
#read dataframe from file
corrections = pd.read_csv("../corrected_labels/token_edits.csv",dtype = dtypes_in)
corrections = corrections[['fold','line_no','doc_offset','corpus_span','correct_span','correct_line']]
corrections.head()

test ../original_corpus/eng.testb
dev ../original_corpus/eng.testa
train ../original_corpus/eng.train

,fold,line_no,doc_offset,corpus_span,correct_span,correct_line
0,test,1131,3.0,"[21, 37): 'SKIING-WORLD CUP'","[28, 37): 'WORLD CUP'",NaN
1,test,1131,3.0,"[21, 37): 'SKIING-WORLD CUP'","[28,37)'WORLD CUP'",NaN
2,test,5174,22.0,"[19, 23): 'ARAB'","[19, 35): 'ARAB CONTRACTORS'",NaN
3,test,6545,27.0,"[565, 573): 'X-DENVER'","[567, 573): 'DENVER'",NaN
4,test,-2,27.0,NaN,"[567, 573): 'DENVER'",NaN

In [141]:
 
def print_with_numbering(file, s, e):
        for i in range(s,e):
            print(i, file[i])
        
def show_lines(line, file, line_end = None):
    line_end = line +2 if (line_end== None) else line_end
    print_with_numbering(file,line-1,line_end+1 )

def get_corpus_line(line):
    return data[line]

In [142]:
# run this to reset count
curr_row = 0; 
fold = "dev"

In [218]:
# for now just display
# when this bool is set to true, replace line with given text
prompt_for_correct = True;

for _,row in (corrections.loc[curr_row:curr_row+2]).iterrows():
    print(row.to_list())
    show_lines(row.line_no, files[row.fold])
        
if(prompt_for_correct):
    print("enter correct input for first entry")
    inp = input()
    if(inp == 'delete_entry'):
        corrections.drop(index=curr_row,axis = 1);
    else: 
        inp = inp.replace("\\n","\n")
        corrections.at[curr_row,'correct_line'] = inp
        print("\n line gotten: \n")
        print(inp)

curr_row += 1

['test', 6640, 27.0, "[889, 900): 'Y-GREEN BAY'", "[891, 900): 'GREEN BAY'", nan]
6639

6640 nan
6641 BAY NNP I-NP I-MISC

6642 10 CD I-NP O

['test', 6851, 29.0, "[25, 44): 'FOOTBALL-OHIO STATE'", "[34, 44): 'OHIO STATE'", nan]
6850 AMERICAN NNP I-NP O

6851 nan
6852 STATE NNP I-NP I-MISC

6853 'S POS B-NP O

['test', 6851, 29.0, "[25, 44): 'FOOTBALL-OHIO STATE'", "[34,44): 'OHIO STATE'", nan]
6850 AMERICAN NNP I-NP O

6851 nan
6852 STATE NNP I-NP I-MISC

6853 'S POS B-NP O

enter correct input for first entry

 SKIING NNP I-NP O\n- : O O\nWORLD NNP I-NP I-MISC

 line gotten:

SKIING NNP I-NP O
- : O O
WORLD NNP I-NP I-MISC

In [147]:
corrections.head()

,fold,line_no,doc_offset,corpus_span,correct_span,correct_line
0,test,1131,3.0,"[21, 37): 'SKIING-WORLD CUP'","[28, 37): 'WORLD CUP'",SKIING NNP I-NP O\n- : O O\nWORLD NNP I-NP I-MISC
1,test,1131,3.0,"[21, 37): 'SKIING-WORLD CUP'","[28,37)'WORLD CUP'",NaN
2,test,5174,22.0,"[19, 23): 'ARAB'","[19, 35): 'ARAB CONTRACTORS'",NaN
3,test,6545,27.0,"[565, 573): 'X-DENVER'","[567, 573): 'DENVER'",X ab O O\n-: O O\nDENVER NNP I-NP I-MISC
4,test,-2,27.0,NaN,"[567, 573): 'DENVER'",NaN

In [216]:
#updating script 

for _,row in corrections.iterrows():
    if (len(str(row.correct_line)) >3 ):
        files[row.fold][row.line_no] = row.correct_line
        print(f"modifying row {row.line_no} of fold {row.fold} to '{row.correct_line}'" )

modifying row 1131 of fold test to 'SKIING NNP I-NP O\n- : O O\nWORLD NNP I-NP I-MISC'
modifying row 6545 of fold test to 'X ab O O\n-: O O\nDENVER NNP I-NP I-MISC'

In [207]:
new_filenames = {"test":  '../corrected_corpus/eng.testb',
             "dev" :  '../corrected_corpus/eng.testa',
             "train": '../corrected_corpus/eng.train'}
for fold,file_n in new_filenames.items(): 
    with open(file_n,'w') as write_file:
        for line in files[fold]:
            write_file.writelines(str(line))
print("done")

done