In [1]:
import fileinput
import sys
import glob 
import pandas as pd
import numpy as np

line() or delete()

copy()  // copy original

copy()  // copy original

add()   // add a new line 

change() // overwrite line

In [2]:

filenames = {"test":  '../original_corpus/eng.testb',
             "dev" :  '../original_corpus/eng.testa',
             "train": '../original_corpus/eng.train'}
folds = ['test','dev','train']
dtypes_in = {'correct_line':str}

log = []
log.append("line, num_added")

files = {}
for fold,filename in filenames.items(): 
    print(fold,filename)
    with open(filename, 'r') as file:
        files[fold] = file.readlines()

filenames
#read dataframe from file
corrections = pd.read_csv("../corrected_labels/token_edits.csv",dtype = dtypes_in)
corrections = corrections[['fold','line_no','doc_offset','corpus_span','correct_span','correct_line']]
corrections.head()

test ../original_corpus/eng.testb
dev ../original_corpus/eng.testa
train ../original_corpus/eng.train

,fold,line_no,doc_offset,corpus_span,correct_span,correct_line
0,test,1131,3.0,"[21, 37): 'SKIING-WORLD CUP'","[28, 37): 'WORLD CUP'",NaN
1,test,1131,3.0,"[21, 37): 'SKIING-WORLD CUP'","[28,37)'WORLD CUP'",NaN
2,test,5174,22.0,"[19, 23): 'ARAB'","[19, 35): 'ARAB CONTRACTORS'",NaN
3,test,6545,27.0,"[565, 573): 'X-DENVER'","[567, 573): 'DENVER'",NaN
4,test,-2,27.0,NaN,"[567, 573): 'DENVER'",NaN

In [3]:
 
def print_with_numbering(file, s, e):
        for i in range(s,e):
            print(i, file[i])
        
def show_lines(line, file, line_end = None):
    line_end = line +2 if (line_end== None) else line_end
    print_with_numbering(file,line-1,line_end+1 )

def get_corpus_line(line):
    return data[line]

In [4]:
# run this to reset count
curr_row = 0; 
fold = "dev"

In [102]:
# for now just display
# when this bool is set to true, replace line with given text
prompt_for_correct = True;

for _,row in (corrections.loc[curr_row:curr_row+2]).iterrows():
    print(row.to_list())
    show_lines(row.line_no, files[row.fold])
        
if(prompt_for_correct):
    print("enter correct input for first entry")
    inp = input()
    if(inp == 'delete_entry'):
        corrections.drop(index=curr_row,axis = 1);
    else: 
        inp = inp.replace("\\n","\n")
        corrections.at[curr_row,'correct_line'] = inp
        print("\n line gotten: \n")
        print(inp)

curr_row += 1

enter correct input for first entry

 line gotten:

In [84]:
# curr_row -=1
display(curr_row)
corrections.head(curr_row).tail()

60

,fold,line_no,doc_offset,corpus_span,correct_span,correct_line
55,dev,44837,175.0,"[252, 264): 'London-based'","[252, 258): 'London'",London NNP I_NP I-LOC\n- : O O\nbased JJ I-NP ...
56,dev,46457,181.0,"[1761, 1774): 'Moscow-backed'","[1761, 1767): 'Moscow'",Moscow NNP I-NP I-ORG\n- : O O\nbacked JJ I-NP...
57,dev,50964,198.0,"[39, 47): 'aid-U.N.'","[43, 47): 'U.N.'",aid NN I-NP O\n- . O O\nU.N. NN I-NP I-ORG
58,train,17719,80.0,NaN,"[44, 59): 'Interfax'",rebels NNP I-PP O\n- . O O\nInterfax NN I-NP O
59,train,-2,80.0,NaN,"[51, 59): 'Interfax'",

In [3]:
with open("../corrected_labels/token_corrections.json",'w') as file:
    corrections.to_json(file)
print("printed to file")

NameError: name 'corrections' is not defined

In [109]:
with open("temp_dump.json", 'w') as file:
    corrections.to_json(file)

In [103]:
corrections

,fold,line_no,doc_offset,corpus_span,correct_span,correct_line
0,test,1131.0,3.0,"[21, 37): 'SKIING-WORLD CUP'","[28, 37): 'WORLD CUP'",SKIING NNP I-NP I-MISC\n- : OI-MISC\nWORLD NNP...
1,test,1131.0,3.0,"[21, 37): 'SKIING-WORLD CUP'","[28,37)'WORLD CUP'",
2,test,5174.0,22.0,"[19, 23): 'ARAB'","[19, 35): 'ARAB CONTRACTORS'",
3,test,6545.0,27.0,"[565, 573): 'X-DENVER'","[567, 573): 'DENVER'",X IN I-PP O\n- : 0 0\nDENVER NNP I-NP I-MISC
4,test,-2.0,27.0,NaN,"[567, 573): 'DENVER'",
...,...,...,...,...,...,...
73,train,146605.0,626.0,"[42, 59): 'disarmament-China'","[42, 59): 'disarmament-China'",disarmament NNP I-NP O\n- . O O\nChina NN I-NP...
74,train,164709.0,701.0,"[17, 30): 'union-England'","[23, 30): 'England'",union NNP I-NP O\n- . O O\nEngland JJ I-NP I-ORG
75,train,213462.0,918.0,"[11, 24): 'INTERVIEW-T&N'","[11, 24): 'INTERVIEW-T&N'",INTERVIEW NNP I-NP O\n- . O O\nT&N NNP I-NP I-...
76,train,213462.0,918.0,"[11, 24): 'INTERVIEW-T&N'","[21, 24): 'T&N'",INTERVIEW NNP I-NP O\n- . O O\nT&N NNP I-NP I...
77,NaN,NaN,NaN,NaN,NaN,