In [1]:
import sys
import os
import glob
import pandas as pd
import numpy as np

sys.path.append(os.path.abspath('../../text-extensions-for-pandas'))
import text_extensions_for_pandas as tp

from correct_label_errors import Dataset

In [2]:
files = {
    'csv_files' : ["../corrected_labels/all_conll_corrections_combined.csv"],
    'dev'       : "../original_corpus/eng.testa",
    'test'      : "../original_corpus/eng.testb",
    'train'     : "../original_corpus/eng.train"
}

In [3]:
columns = ['doc_offset', 'corpus_span', 'correct_span', 'error_type']

test_df = pd.DataFrame(columns = columns)
dev_df = pd.DataFrame(columns = columns)
train_df = pd.DataFrame(columns = columns)

for f in files['csv_files']:
    current_df = pd.read_csv(os.path.abspath(f))
    test_df = test_df.append(current_df[(current_df["error_type"]=="Token") & (current_df["fold"]=="test")][columns], ignore_index=True)
    dev_df = dev_df.append(current_df[(current_df["error_type"]=="Token") & (current_df["fold"]=="dev")][columns], ignore_index=True)
    train_df = train_df.append(current_df[(current_df["error_type"]=="Token") & (current_df["fold"]=="train")][columns], ignore_index=True)
    
display(train_df)
display(dev_df)
display(test_df)

,doc_offset,corpus_span,correct_span,error_type
0,80.0,NaN,"[44, 59): 'Interfax'",Token
1,80.0,NaN,"[51, 59): 'Interfax'",Token
2,115.0,NaN,"[23, 27): 'News'",Token
3,163.0,"[220, 232): 'x-AEK Athens'","[222, 232): 'AEK Athens'",Token
4,163.0,"[271, 283): 'x-Olympiakos'","[273, 283): 'Olympiakos'",Token
5,163.0,"[308, 313): 'x-PAO'","[310, 313): 'PAO'",Token
6,169.0,"[50, 61): 'trip-Canada'","[55, 61): 'Canada'",Token
7,298.0,"[49, 60): '1997--Ruehe'","[55, 60): 'Ruehe'",Token
8,343.0,"[11, 31): 'AUSTRALIAN RULES-AFL'","[11, 21): 'AUSTRALIAN'",Token
9,343.0,"[11, 31): 'AUSTRALIAN RULES-AFL'","[11, 27): 'AUSTRALIAN RULES'",Token
10,343.0,"[11, 31): 'AUSTRALIAN RULES-AFL'","[28, 31): 'AFL'",Token
11,343.0,"[11, 31): 'AUSTRALIAN RULES-AFL'","[11, 21): 'AUSTRALIAN'",Token
12,422.0,"[236, 246): 'Videoton(*'","[236, 244): 'Videoton'",Token
13,593.0,"[45, 57): 'France-Juppe'","[45, 51): 'France'",Token
14,593.0,"[45, 57): 'France-Juppe'","[52, 57): 'Juppe'",Token
15,626.0,"[42, 59): 'disarmament-China'","[42, 59): 'disarmament-China'",Token
16,701.0,"[17, 30): 'union-England'","[23, 30): 'England'",Token
17,918.0,"[11, 24): 'INTERVIEW-T&N'","[11, 24): 'INTERVIEW-T&N'",Token
18,918.0,"[11, 24): 'INTERVIEW-T&N'","[21, 24): 'T&N'",Token

,doc_offset,corpus_span,correct_span,error_type
0,15.0,"[41, 51): 'CUNNINGHAM'","(33, 51]: 'RANDALL CUNNINGHAM'",Token
1,15.0,"[41, 51): 'CUNNINGHAM'","(33,51] 'RANDALL CUNNINGHAM'",Token
2,15.0,"[15, 40): 'AMERICAN FOOTBALL-RANDALL'","[15, 32): 'AMERICAN FOOTBALL'",Token
3,15.0,"[15, 40): 'AMERICAN FOOTBALL-RANDALL'","[33, 40): 'RANDALL'",Token
4,15.0,"[41, 51): 'CUNNINGHAM'","[33,51): 'RANDALL CUNNINGHAM'",Token
5,39.0,"[11, 23): 'Boxing-Bruno'","[18, 23): 'Bruno'",Token
6,39.0,NaN,"[18, 23): 'Bruno'\t",Token
7,60.0,"[1358, 1371): 'Tripoli-based'","[1358, 1365): 'Tripoli'",Token
8,65.0,"[1125, 1134): 'asset-St.'","[1131, 1146): 'St. Louis based'",Token
9,65.0,"[592, 607): 'St. Louis-based'","[592, 601): 'St. Louis'",Token
10,65.0,"[1125, 1134): 'asset-St.'",NaN,Token
11,175.0,"[252, 264): 'London-based'","[252, 258): 'London'",Token
12,181.0,"[1761, 1774): 'Moscow-backed'","[1761, 1767): 'Moscow'",Token
13,198.0,"[39, 47): 'aid-U.N.'","[43, 47): 'U.N.'",Token

,doc_offset,corpus_span,correct_span,error_type
0,3.0,"[21, 37): 'SKIING-WORLD CUP'","[28, 37): 'WORLD CUP'",Token
1,3.0,"[21, 37): 'SKIING-WORLD CUP'","[28,37)'WORLD CUP'",Token
2,22.0,"[19, 23): 'ARAB'","[19, 35): 'ARAB CONTRACTORS'",Token
3,27.0,"[565, 573): 'X-DENVER'","[567, 573): 'DENVER'",Token
4,27.0,NaN,"[567, 573): 'DENVER'",Token
5,27.0,"[889, 900): 'Y-GREEN BAY'","[891, 900): 'GREEN BAY'",Token
6,29.0,"[25, 44): 'FOOTBALL-OHIO STATE'","[34, 44): 'OHIO STATE'",Token
7,29.0,"[25, 44): 'FOOTBALL-OHIO STATE'","[34,44): 'OHIO STATE'",Token
8,39.0,"[1158, 1175): 'AbelardoFernandez'","[1158, 1175): 'Abelardo Fernandez'",Token
9,54.0,"[1145, 1152): 'Boxmeer'","[1141, 1152): 'van Boxmeer'",Token
10,54.0,"[11, 27): 'INTERVIEW-ZYWIEC'","[21, 27): 'ZYWIEC'",Token
11,54.0,"[2594, 2601): 'Boxmeer'","[2590, 2601): 'van Boxmeer'",Token
12,54.0,"[3231, 3241): 'Full Light'","[3224, 3241): 'Zywiec Full Light'",Token
13,54.0,"[3421, 3428): 'Boxmeer'","[3417, 3428): 'van Boxmeer'",Token
14,54.0,NaN,"[?, 27): 'ZYWIEC'",Token
15,56.0,"[11, 16): 'UK-US'","[11, 13): 'UK'",Token
16,56.0,"[11, 16): 'UK-US'","[11,13) 'UK'",Token
17,56.0,"[11, 16): 'UK-US'","[14, 16): 'US'",Token
18,56.0,"[11, 16): 'UK-US'","[14,16) 'UK'",Token
19,60.0,"[345, 363): 'Trade and Industry'","[345, 373): 'Trade and Industry Secretary'",Token
20,63.0,"[19, 39): 'office-Conservatives'","[26, 39): 'Conservatives'",Token
21,63.0,"[19, 39): 'office-Conservatives'","[27, 39): 'Conservatives'",Token
22,68.0,"[11, 19): 'Canadian'","[11, 30): 'Canadian West Coast'",Token
23,68.0,"[157, 165): 'Canadian'",NaN,Token
24,70.0,"[177, 197): 'New York Commodities'","[177, 202): 'New York Commodities Desk'",Token
25,71.0,"[153, 173): 'New York Commodities'","[153, 178): 'New York Commodities Desk'",Token
26,75.0,"[2736, 2752): 'Newmont-Santa Fe'","[2736, 2743): 'Newmont'",Token
27,75.0,"[2736, 2752): 'Newmont-Santa Fe'","[2744, 2752): 'Santa Fe'",Token
28,114.0,"[11, 17): 'Iowa-S'","[11, 15): 'Iowa'",Token
29,114.0,"[11, 17): 'Iowa-S'","[11, 15): 'Iowa'",Token
30,114.0,"[51, 61): 'sales-USDA'","[57, 61): 'USDA'",Token
31,114.0,"[51, 61): 'sales-USDA'",NaN,Token
32,123.0,"[11, 17): 'Iowa-S'","[11, 15): 'Iowa'",Token
33,178.0,"[951, 960): 'then-U.S.'","[956, 960): 'U.S.'",Token
34,183.0,"[18, 35): 'SKIING-GLADISHIVA'","[25, 35): 'GLADISHIVA'",Token
35,186.0,NaN,"[1398, 1405): 'Austria'",Token
36,188.0,"[18, 34): 'SKIING-WORLD CUP'","[25, 34): 'WORLD CUP'",Token
37,190.0,"[11, 27): 'BOBSLEIGH-SHIMER'","[21, 27): 'SHIMER'",Token
38,190.0,"[11, 27): 'BOBSLEIGH-SHIMER'",NaN,Token
39,191.0,"[11, 25): 'SKIING-CHINESE'","[18, 25): 'CHINESE'",Token
40,192.0,"[11, 30): 'BOBSLEIGH-WORLD CUP'","[21, 30): 'WORLD CUP'",Token
41,194.0,"[21, 37): 'SKIING-WORLD CUP'","[28, 37): 'WORLD CUP'",Token
42,195.0,"[21, 37): 'SKIING-WORLD CUP'","[28, 37): 'WORLD CUP'",Token
43,214.0,"[243, 262): 'Saturday'sWorld Cup'","[253, 262): 'World Cup'",Token

In [4]:
test_df.to_csv("../corrected_labels/token_corection_test.csv")
dev_df.to_csv("../corrected_labels/token_corection_dev.csv")
train_df.to_csv("../corrected_labels/token_corection_train.csv")
correction_df = {
    'dev'  : dev_df,
    'test' : test_df,
    'train': train_df
}

In [5]:
splits = ['dev', 'test', 'train']

for split in splits:    
    # Read the raw corpus file lines
    f = open(files[split])
    lines = f.readlines()
    
    # Create a dataframe for the corpus file and process our corrections csv
    dataset = Dataset(files[split])
    current_df = correction_df[split]
    
    current_df["line_no"] = 0; 
    current_df["correct_line"] = ""; 
    current_df["fold"] =  split;

    
    
    
    for i, row in current_df.iterrows():
        if split == 'test' and i >= 59:
            continue
        try:
            candidate_lines = dataset.find(row["corpus_span"], int(row["doc_offset"]))
        except:
            candidate_lines = dataset.find(row["correct_span"], int(row["doc_offset"]))
            candidate_lines = (candidate_lines[0]-1, candidate_lines[1]+1)
            print("The correct_span did not match lines. {}, {}".format(split, i))
        current_df.at[i,"line_no"] = candidate_lines[0]
        print(candidate_lines[0])

4120
4120
4118
4118
4120
10619
The correct_span did not match lines. dev, 6
-2
15911
19233
19130
19233
44837
46457
50964

[WARNING] Could not find [18, 23): 'Bruno'

1131
1131
5174
6545
The correct_span did not match lines. test, 4
-2
6640
6851
6851
8644
12284
12068
12555
12682
12720
The correct_span did not match lines. test, 14
-2
13001
13001
13001
13001
13447
14467
14467
15155
15183
15337
15380
16319
16319
26720
26720
26728
26728
28718
38688
39979
The correct_span did not match lines. test, 35
-2
41169
41413
41413
41595
41850
42385
-1
46987

[WARNING] Could not find [567, 573): 'DENVER'
[WARNING] Invalid span [?, 27): 'ZYWIEC'
[WARNING] Could not find [1398, 1405): 'Austria'
[WARNING] Could not find [21, 37): 'SKIING-WORLD CUP'

The correct_span did not match lines. train, 0
17719
The correct_span did not match lines. train, 1
-2
The correct_span did not match lines. train, 2
-2
37914
37926
37933
38844
65636
75410
75410
75410
75410
95553
139024
139024
146605
164709
213462
213462

[WARNING] Could not find [51, 59): 'Interfax'
[WARNING] Could not find [23, 27): 'News'

In [6]:
full_df = pd.DataFrame()
full_df = test_df.append(dev_df).append(train_df)
full_df = full_df[['fold','line_no', 'doc_offset', 'corpus_span', 'correct_span', 'correct_line']];
full_df

,fold,line_no,doc_offset,corpus_span,correct_span,correct_line
0,test,1131,3.0,"[21, 37): 'SKIING-WORLD CUP'","[28, 37): 'WORLD CUP'",
1,test,1131,3.0,"[21, 37): 'SKIING-WORLD CUP'","[28,37)'WORLD CUP'",
2,test,5174,22.0,"[19, 23): 'ARAB'","[19, 35): 'ARAB CONTRACTORS'",
3,test,6545,27.0,"[565, 573): 'X-DENVER'","[567, 573): 'DENVER'",
4,test,-2,27.0,NaN,"[567, 573): 'DENVER'",
...,...,...,...,...,...,...
14,train,139024,593.0,"[45, 57): 'France-Juppe'","[52, 57): 'Juppe'",
15,train,146605,626.0,"[42, 59): 'disarmament-China'","[42, 59): 'disarmament-China'",
16,train,164709,701.0,"[17, 30): 'union-England'","[23, 30): 'England'",
17,train,213462,918.0,"[11, 24): 'INTERVIEW-T&N'","[11, 24): 'INTERVIEW-T&N'",
18,train,213462,918.0,"[11, 24): 'INTERVIEW-T&N'","[21, 24): 'T&N'",

In [9]:
with open("../corrected_labels/token_edits.csv",'w')as file:
    full_df.to_csv(file)