In [1]:
import sys
import os
import glob
import pandas as pd
import numpy as np

sys.path.append(os.path.abspath('../../text-extensions-for-pandas'))
import text_extensions_for_pandas as tp

from download_and_correct_corpus import Dataset

In [2]:
files = {
    'csv_files' : ["../corrected_labels/all_conll_corrections_combined.csv"],
    'dev'       : "../original_corpus/eng.testa",
    'test'      : "../original_corpus/eng.testb",
    'train'     : "../original_corpus/eng.train"
}

In [3]:
columns = ['doc_offset', 'corpus_span', 'correct_span', 'correct_ent_type', 'error_type']

test_df = pd.DataFrame(columns = columns)
dev_df = pd.DataFrame(columns = columns)
train_df = pd.DataFrame(columns = columns)

for f in files['csv_files']:
    current_df = pd.read_csv(os.path.abspath(f))
    test_df = test_df.append(current_df[(current_df["error_type"]=="Token") & (current_df["fold"]=="test")][columns], ignore_index=True)
    dev_df = dev_df.append(current_df[(current_df["error_type"]=="Token") & (current_df["fold"]=="dev")][columns], ignore_index=True)
    train_df = train_df.append(current_df[(current_df["error_type"]=="Token") & (current_df["fold"]=="train")][columns], ignore_index=True)
    
display(train_df)
display(dev_df)
display(test_df)

,doc_offset,corpus_span,correct_span,correct_ent_type,error_type
0,80,"[44, 59): 'rebels-Interfax'","[51, 59): 'Interfax'",ORG,Token
1,115,"[17, 27): 'FOCUS-News'","[23, 27): 'News'",ORG,Token
2,163,"[220, 232): 'x-AEK Athens'","[222, 232): 'AEK Athens'",ORG,Token
3,163,"[271, 283): 'x-Olympiakos'","[273, 283): 'Olympiakos'",ORG,Token
4,163,"[308, 313): 'x-PAO'","[310, 313): 'PAO'",ORG,Token
5,169,"[50, 61): 'trip-Canada'","[55, 61): 'Canada'",LOC,Token
6,198,"[11, 20): 'WSC-India'","[11, 14): 'WSC'",ORG,Token
7,198,"[11, 20): 'WSC-India'","[15, 20): 'India'",LOC,Token
8,298,"[49, 60): '1997--Ruehe'","[55, 60): 'Ruehe'",PER,Token
9,343,"[11, 31): 'AUSTRALIAN RULES-AFL'","[11, 21): 'AUSTRALIAN'",MISC,Token
10,343,"[11, 31): 'AUSTRALIAN RULES-AFL'","[28, 31): 'AFL'",MISC,Token
11,422,"[236, 246): 'Videoton(*'","[236, 244): 'Videoton'",NaN,Token
12,444,"[20, 40): 'SCOREBOARD-AUSTRALIA'","[31, 40): 'AUSTRALIA'",ORG,Token
13,593,"[45, 57): 'France-Juppe'","[45, 51): 'France'",LOC,Token
14,593,"[45, 57): 'France-Juppe'","[52, 57): 'Juppe'",PER,Token
15,626,"[42, 59): 'disarmament-China'","[54, 59): 'China'",LOC,Token
16,701,"[17, 30): 'union-England'","[23, 30): 'England'",ORG,Token
17,734,"[11, 31): 'BALANCE-Water Dist 1'","[19, 31): 'Water Dist 1'",ORG,Token
18,918,"[11, 24): 'INTERVIEW-T&N'","[21, 24): 'T&N'",ORG,Token

,doc_offset,corpus_span,correct_span,correct_ent_type,error_type
0,15,"[41, 51): 'CUNNINGHAM'","[33, 51): 'RANDALL CUNNINGHAM'",PER,Token
1,39,"[11, 23): 'Boxing-Bruno'","[18, 23): 'Bruno'",PER,Token
2,60,"[1358, 1371): 'Tripoli-based'","[1358, 1365): 'Tripoli'",LOC,Token
3,65,"[1125, 1134): 'asset-St.'","[1131, 1140): 'St. Louis'",LOC,Token
4,65,"[1359, 1376): 'Minneapolis-based'","[1359, 1370): 'Minneapolis'",LOC,Token
5,65,"[1419, 1429): 'Ohio-based'","[1419, 1423): 'Ohio'",LOC,Token
6,65,"[592, 607): 'St. Louis-based'","[592, 601): 'St. Louis'",LOC,Token
7,65,"[793, 802): 'Mo.-based'","[793, 796): 'Mo.'",LOC,Token
8,175,"[252, 264): 'London-based'","[252, 258): 'London'",LOC,Token
9,181,"[1761, 1774): 'Moscow-backed'","[1761, 1767): 'Moscow'",LOC,Token
10,198,"[39, 47): 'aid-U.N.'","[43, 47): 'U.N.'",ORG,Token

,doc_offset,corpus_span,correct_span,correct_ent_type,error_type
0,3,"[21, 37): 'SKIING-WORLD CUP'","[28, 37): 'WORLD CUP'",MISC,Token
1,25,"[24, 38): 'FOOTBALL-COLTS'","[33, 38): 'COLTS'",ORG,Token
2,27,"[565, 573): 'X-DENVER'","[567, 573): 'DENVER'",ORG,Token
3,27,"[889, 900): 'Y-GREEN BAY'","[891, 900): 'GREEN BAY'",ORG,Token
4,29,"[25, 44): 'FOOTBALL-OHIO STATE'","[34, 44): 'OHIO STATE'",ORG,Token
5,39,"[1158, 1175): 'AbelardoFernandez'","[1158, 1175): 'Abelardo Fernandez'",PER,Token
6,40,"[215, 236): 'Real Madrid-Barcelona'","[215, 226): 'Real Madrid'",ORG,Token
7,40,"[215, 236): 'Real Madrid-Barcelona'","[227, 236): 'Barcelona'",ORG,Token
8,54,"[11, 27): 'INTERVIEW-ZYWIEC'","[21, 27): 'ZYWIEC'",ORG,Token
9,56,"[11, 16): 'UK-US'","[11, 13): 'UK'",LOC,Token
10,56,"[11, 16): 'UK-US'","[14, 16): 'US'",LOC,Token
11,63,"[19, 39): 'office-Conservatives'","[26, 39): 'Conservatives'",ORG,Token
12,75,"[2736, 2752): 'Newmont-Santa Fe'","[2736, 2743): 'Newmont'",ORG,Token
13,75,"[2736, 2752): 'Newmont-Santa Fe'","[2744, 2752): 'Santa Fe'",ORG,Token
14,114,"[11, 17): 'Iowa-S'","[11, 15): 'Iowa'",LOC,Token
15,114,"[18, 22): 'Minn'","[16, 22): 'S Minn'",LOC,Token
16,114,"[51, 61): 'sales-USDA'","[57, 61): 'USDA'",ORG,Token
17,123,"[11, 17): 'Iowa-S'","[11, 15): 'Iowa'",LOC,Token
18,123,"[18, 22): 'Minn'","[16, 22): 'S Minn'",LOC,Token
19,178,"[951, 960): 'then-U.S.'","[956, 960): 'U.S.'",LOC,Token
20,183,"[18, 35): 'SKIING-GLADISHIVA'","[25, 35): 'GLADISHIVA'",PER,Token
21,186,"[1398, 1409): 'Austria)118'","[1398, 1405): 'Austria'",LOC,Token
22,188,"[18, 34): 'SKIING-WORLD CUP'","[25, 34): 'WORLD CUP'",MISC,Token
23,190,"[11, 27): 'BOBSLEIGH-SHIMER'","[21, 27): 'SHIMER'",PER,Token
24,191,"[11, 25): 'SKIING-CHINESE'","[18, 25): 'CHINESE'",LOC,Token
25,192,"[11, 30): 'BOBSLEIGH-WORLD CUP'","[21, 30): 'WORLD CUP'",NaN,Token
26,194,"[21, 37): 'SKIING-WORLD CUP'","[28, 37): 'WORLD CUP'",NaN,Token
27,214,"[243, 262): 'Saturday'sWorld Cup'","[253, 262): 'World Cup'",MISC,Token

In [4]:
test_df.to_csv("../corrected_labels/token_corection_test.csv")
dev_df.to_csv("../corrected_labels/token_corection_dev.csv")
train_df.to_csv("../corrected_labels/token_corection_train.csv")
correction_df = {
    'dev'  : dev_df,
    'test' : test_df,
    'train': train_df
}

In [5]:
splits = ['dev', 'test', 'train']

for split in splits:    
    # Read the raw corpus file lines
    f = open(files[split])
    lines = f.readlines()
    
    # Create a dataframe for the corpus file and process our corrections csv
    dataset = Dataset(files[split])
    current_df = correction_df[split]
    
    current_df["line_no"] = 0; 
    current_df["correct_line"] = ""; 
    current_df["fold"] =  split;
    
    for i, row in current_df.iterrows():
        if split == 'test' and i >= 59:
            continue
        try:
            candidate_lines = dataset.find(row["corpus_span"], int(row["doc_offset"]))
        except:
            candidate_lines = dataset.find(row["correct_span"], int(row["doc_offset"]))
            candidate_lines = (candidate_lines[0]-1, candidate_lines[1]+1)
            print("The correct_span did not match lines. {}, {}".format(split, i))
        current_df.at[i,"line_no"] = candidate_lines[0]
        print(candidate_lines[0])

4120
10619
15911
19233
19282
19291
19130
19168
44837
46457
50964
1131
5687
6545
6640
6851
8644
8709
8709
12068
13001
13001
14467
16319
16319
26720
26721
26728
28718
28719
38688
39979
40619
41169
41413
41595
41850
42385
46987
17720
26117
37914
37926
37933
38844
44449
44449
65636
75410
75410
95553
102338
139024
139024
146605
164709
172643
213462

In [8]:
# Turn off the 60-row limit for displaying dataframes
pd.options.display.max_rows = None
full_df = pd.DataFrame()
full_df = test_df.append(dev_df).append(train_df)
full_df = full_df[['fold','line_no', 'doc_offset', 'corpus_span', 'correct_span', 'correct_ent_type']];
full_df

,fold,line_no,doc_offset,corpus_span,correct_span,correct_ent_type
0,test,1131,3,"[21, 37): 'SKIING-WORLD CUP'","[28, 37): 'WORLD CUP'",MISC
1,test,5687,25,"[24, 38): 'FOOTBALL-COLTS'","[33, 38): 'COLTS'",ORG
2,test,6545,27,"[565, 573): 'X-DENVER'","[567, 573): 'DENVER'",ORG
3,test,6640,27,"[889, 900): 'Y-GREEN BAY'","[891, 900): 'GREEN BAY'",ORG
4,test,6851,29,"[25, 44): 'FOOTBALL-OHIO STATE'","[34, 44): 'OHIO STATE'",ORG
5,test,8644,39,"[1158, 1175): 'AbelardoFernandez'","[1158, 1175): 'Abelardo Fernandez'",PER
6,test,8709,40,"[215, 236): 'Real Madrid-Barcelona'","[215, 226): 'Real Madrid'",ORG
7,test,8709,40,"[215, 236): 'Real Madrid-Barcelona'","[227, 236): 'Barcelona'",ORG
8,test,12068,54,"[11, 27): 'INTERVIEW-ZYWIEC'","[21, 27): 'ZYWIEC'",ORG
9,test,13001,56,"[11, 16): 'UK-US'","[11, 13): 'UK'",LOC
10,test,13001,56,"[11, 16): 'UK-US'","[14, 16): 'US'",LOC
11,test,14467,63,"[19, 39): 'office-Conservatives'","[26, 39): 'Conservatives'",ORG
12,test,16319,75,"[2736, 2752): 'Newmont-Santa Fe'","[2736, 2743): 'Newmont'",ORG
13,test,16319,75,"[2736, 2752): 'Newmont-Santa Fe'","[2744, 2752): 'Santa Fe'",ORG
14,test,26720,114,"[11, 17): 'Iowa-S'","[11, 15): 'Iowa'",LOC
15,test,26721,114,"[18, 22): 'Minn'","[16, 22): 'S Minn'",LOC
16,test,26728,114,"[51, 61): 'sales-USDA'","[57, 61): 'USDA'",ORG
17,test,28718,123,"[11, 17): 'Iowa-S'","[11, 15): 'Iowa'",LOC
18,test,28719,123,"[18, 22): 'Minn'","[16, 22): 'S Minn'",LOC
19,test,38688,178,"[951, 960): 'then-U.S.'","[956, 960): 'U.S.'",LOC
20,test,39979,183,"[18, 35): 'SKIING-GLADISHIVA'","[25, 35): 'GLADISHIVA'",PER
21,test,40619,186,"[1398, 1409): 'Austria)118'","[1398, 1405): 'Austria'",LOC
22,test,41169,188,"[18, 34): 'SKIING-WORLD CUP'","[25, 34): 'WORLD CUP'",MISC
23,test,41413,190,"[11, 27): 'BOBSLEIGH-SHIMER'","[21, 27): 'SHIMER'",PER
24,test,41595,191,"[11, 25): 'SKIING-CHINESE'","[18, 25): 'CHINESE'",LOC
25,test,41850,192,"[11, 30): 'BOBSLEIGH-WORLD CUP'","[21, 30): 'WORLD CUP'",NaN
26,test,42385,194,"[21, 37): 'SKIING-WORLD CUP'","[28, 37): 'WORLD CUP'",NaN
27,test,46987,214,"[243, 262): 'Saturday'sWorld Cup'","[253, 262): 'World Cup'",MISC
0,dev,4120,15,"[41, 51): 'CUNNINGHAM'","[33, 51): 'RANDALL CUNNINGHAM'",PER
1,dev,10619,39,"[11, 23): 'Boxing-Bruno'","[18, 23): 'Bruno'",PER
2,dev,15911,60,"[1358, 1371): 'Tripoli-based'","[1358, 1365): 'Tripoli'",LOC
3,dev,19233,65,"[1125, 1134): 'asset-St.'","[1131, 1140): 'St. Louis'",LOC
4,dev,19282,65,"[1359, 1376): 'Minneapolis-based'","[1359, 1370): 'Minneapolis'",LOC
5,dev,19291,65,"[1419, 1429): 'Ohio-based'","[1419, 1423): 'Ohio'",LOC
6,dev,19130,65,"[592, 607): 'St. Louis-based'","[592, 601): 'St. Louis'",LOC
7,dev,19168,65,"[793, 802): 'Mo.-based'","[793, 796): 'Mo.'",LOC
8,dev,44837,175,"[252, 264): 'London-based'","[252, 258): 'London'",LOC
9,dev,46457,181,"[1761, 1774): 'Moscow-backed'","[1761, 1767): 'Moscow'",LOC
10,dev,50964,198,"[39, 47): 'aid-U.N.'","[43, 47): 'U.N.'",ORG
0,train,17720,80,"[44, 59): 'rebels-Interfax'","[51, 59): 'Interfax'",ORG
1,train,26117,115,"[17, 27): 'FOCUS-News'","[23, 27): 'News'",ORG
2,train,37914,163,"[220, 232): 'x-AEK Athens'","[222, 232): 'AEK Athens'",ORG
3,train,37926,163,"[271, 283): 'x-Olympiakos'","[273, 283): 'Olympiakos'",ORG
4,train,37933,163,"[308, 313): 'x-PAO'","[310, 313): 'PAO'",ORG
5,train,38844,169,"[50, 61): 'trip-Canada'","[55, 61): 'Canada'",LOC
6,train,44449,198,"[11, 20): 'WSC-India'","[11, 14): 'WSC'",ORG
7,train,44449,198,"[11, 20): 'WSC-India'","[15, 20): 'India'",LOC
8,train,65636,298,"[49, 60): '1997--Ruehe'","[55, 60): 'Ruehe'",PER
9,train,75410,343,"[11, 31): 'AUSTRALIAN RULES-AFL'","[11, 21): 'AUSTRALIAN'",MISC
10,train,75410,343,"[11, 31): 'AUSTRALIAN RULES-AFL'","[28, 31): 'AFL'",MISC
11,train,95553,422,"[236, 246): 'Videoton(*'","[236, 244): 'Videoton'",NaN
12,train,102338,444,"[20, 40): 'SCOREBOARD-AUSTRALIA'","[31, 40): 'AUSTRALIA'",ORG
13,train,139024,593,"[45, 57): 'France-Juppe'","[45, 51): 'France'",LOC
14,train,139024,593,"[45, 57): 'France-Juppe'","[52, 57): 'Juppe'",PER
15,train,146605,626,"[42, 59): 'disarmament-China'","[54, 59): 'China'",LOC
16,train,164709,701,"[17, 30): 'union-England'","[23, 30): 'England'",ORG
17,train,172643,734,"[11, 31): 'BALANCE-Water Dist 1'","[19, 31): 'Water Dist 1'",ORG
18,train,213462,918,"[11, 24): 'INTERVIEW-T&N'","[21, 24): 'T&N'",ORG

In [9]:
# Add some document context to the corrections
file_contents = {}
for fold in splits:
    filename = files[fold]
    print(fold, filename)
    with open(filename, 'r') as file:
        file_contents[fold] = file.readlines()

target_lines = []
contexts = []
for fold, line_no in zip(full_df["fold"], full_df["line_no"]):
    target_lines.append(file_contents[fold][line_no].strip())
    contexts.append(
        ""
        .join(file_contents[fold][max(0, line_no - 2):line_no + 3])
        .strip()
        .replace("-DOCSTART-", "DOCSTART") # Minus at beginning of cell confuses Excel
    )

full_df["target_line"] = target_lines
full_df["context"] = contexts
full_df

dev ../original_corpus/eng.testa
test ../original_corpus/eng.testb
train ../original_corpus/eng.train

,fold,line_no,doc_offset,corpus_span,correct_span,correct_ent_type,target_line,context
0,test,1131,3,"[21, 37): 'SKIING-WORLD CUP'","[28, 37): 'WORLD CUP'",MISC,SKIING-WORLD NNP I-NP I-MISC,FREESTYLE NNP I-NP O\nSKIING-WORLD NNP I-NP I-...
1,test,5687,25,"[24, 38): 'FOOTBALL-COLTS'","[33, 38): 'COLTS'",ORG,FOOTBALL-COLTS NNS I-NP O,NFL NNP I-NP I-ORG\nAMERICAN NNP I-NP O\nFOOTB...
2,test,6545,27,"[565, 573): 'X-DENVER'","[567, 573): 'DENVER'",ORG,X-DENVER NNP I-NP I-MISC,PA NNP I-NP O\n\nX-DENVER NNP I-NP I-MISC\n12 ...
3,test,6640,27,"[889, 900): 'Y-GREEN BAY'","[891, 900): 'GREEN BAY'",ORG,Y-GREEN NNP I-NP I-MISC,PA NNP I-NP O\n\nY-GREEN NNP I-NP I-MISC\nBAY ...
4,test,6851,29,"[25, 44): 'FOOTBALL-OHIO STATE'","[34, 44): 'OHIO STATE'",ORG,FOOTBALL-OHIO NNP I-NP I-MISC,NCAA NNP I-NP I-ORG\nAMERICAN NNP I-NP O\nFOOT...
5,test,8644,39,"[1158, 1175): 'AbelardoFernandez'","[1158, 1175): 'Abelardo Fernandez'",PER,AbelardoFernandez NNS I-NP I-PER,25-1 NNP I-NP O\n\nAbelardoFernandez NNS I-NP ...
6,test,8709,40,"[215, 236): 'Real Madrid-Barcelona'","[215, 226): 'Real Madrid'",ORG,Real NNP I-NP I-MISC,'s POS B-NP O\nbig JJ I-NP O\nReal NNP I-NP I-...
7,test,8709,40,"[215, 236): 'Real Madrid-Barcelona'","[227, 236): 'Barcelona'",ORG,Real NNP I-NP I-MISC,'s POS B-NP O\nbig JJ I-NP O\nReal NNP I-NP I-...
8,test,12068,54,"[11, 27): 'INTERVIEW-ZYWIEC'","[21, 27): 'ZYWIEC'",ORG,INTERVIEW-ZYWIEC NNP I-NP I-MISC,DOCSTART -X- -X- O\n\nINTERVIEW-ZYWIEC NNP I-N...
9,test,13001,56,"[11, 16): 'UK-US'","[11, 13): 'UK'",LOC,UK-US NNP I-NP I-MISC,DOCSTART -X- -X- O\n\nUK-US NNP I-NP I-MISC\no...
10,test,13001,56,"[11, 16): 'UK-US'","[14, 16): 'US'",LOC,UK-US NNP I-NP I-MISC,DOCSTART -X- -X- O\n\nUK-US NNP I-NP I-MISC\no...
11,test,14467,63,"[19, 39): 'office-Conservatives'","[26, 39): 'Conservatives'",ORG,office-Conservatives JJ I-NP I-MISC,Major NNP I-NP I-PER\n's POS B-NP O\noffice-Co...
12,test,16319,75,"[2736, 2752): 'Newmont-Santa Fe'","[2736, 2743): 'Newmont'",ORG,Newmont-Santa NNP I-NP I-MISC,( ( O O\na DT I-NP O\nNewmont-Santa NNP I-NP I...
13,test,16319,75,"[2736, 2752): 'Newmont-Santa Fe'","[2744, 2752): 'Santa Fe'",ORG,Newmont-Santa NNP I-NP I-MISC,( ( O O\na DT I-NP O\nNewmont-Santa NNP I-NP I...
14,test,26720,114,"[11, 17): 'Iowa-S'","[11, 15): 'Iowa'",LOC,Iowa-S NNP I-NP I-LOC,DOCSTART -X- -X- O\n\nIowa-S NNP I-NP I-LOC\nM...
15,test,26721,114,"[18, 22): 'Minn'","[16, 22): 'S Minn'",LOC,Minn NNP I-NP B-LOC,Iowa-S NNP I-NP I-LOC\nMinn NNP I-NP B-LOC\nfe...
16,test,26728,114,"[51, 61): 'sales-USDA'","[57, 61): 'USDA'",ORG,sales-USDA NN I-NP I-MISC,", , O O\nno DT I-NP O\nsales-USDA NN I-NP I-MI..."
17,test,28718,123,"[11, 17): 'Iowa-S'","[11, 15): 'Iowa'",LOC,Iowa-S NNP I-NP I-LOC,DOCSTART -X- -X- O\n\nIowa-S NNP I-NP I-LOC\nM...
18,test,28719,123,"[18, 22): 'Minn'","[16, 22): 'S Minn'",LOC,Minn NNP I-NP B-LOC,Iowa-S NNP I-NP I-LOC\nMinn NNP I-NP B-LOC\nfe...
19,test,38688,178,"[951, 960): 'then-U.S.'","[956, 960): 'U.S.'",LOC,then-U.S. JJ I-NP I-MISC,"vandalism NN I-NP O\n, , O O\nthen-U.S. JJ I-N..."
20,test,39979,183,"[18, 35): 'SKIING-GLADISHIVA'","[25, 35): 'GLADISHIVA'",PER,SKIING-GLADISHIVA NNP I-NP I-MISC,ALPINE NNP I-NP O\nSKIING-GLADISHIVA NNP I-NP ...
21,test,40619,186,"[1398, 1409): 'Austria)118'","[1398, 1405): 'Austria'",LOC,Austria)118 NNP I-NP O,Meissnitzer NNP I-NP I-PER\n( ( O O\nAustria)1...
22,test,41169,188,"[18, 34): 'SKIING-WORLD CUP'","[25, 34): 'WORLD CUP'",MISC,SKIING-WORLD NNP I-NP I-MISC,NORDIC NNP I-NP O\nSKIING-WORLD NNP I-NP I-MIS...
23,test,41413,190,"[11, 27): 'BOBSLEIGH-SHIMER'","[21, 27): 'SHIMER'",PER,BOBSLEIGH-SHIMER NNP I-NP I-MISC,DOCSTART -X- -X- O\n\nBOBSLEIGH-SHIMER NNP I-N...
24,test,41595,191,"[11, 25): 'SKIING-CHINESE'","[18, 25): 'CHINESE'",LOC,SKIING-CHINESE JJ I-NP I-MISC,DOCSTART -X- -X- O\n\nSKIING-CHINESE JJ I-NP I...
25,test,41850,192,"[11, 30): 'BOBSLEIGH-WORLD CUP'","[21, 30): 'WORLD CUP'",NaN,BOBSLEIGH-WORLD NNP I-NP I-MISC,DOCSTART -X- -X- O\n\nBOBSLEIGH-WORLD NNP I-NP...
26,test,42385,194,"[21, 37): 'SKIING-WORLD CUP'","[28, 37): 'WORLD CUP'",NaN,SKIING-WORLD NNP I-NP I-MISC,FREESTYLE NNP I-NP O\nSKIING-WORLD NNP I-NP I-...
27,test,46987,214,"[243, 262): 'Saturday'sWorld Cup'","[253, 262): 'World Cup'",MISC,Saturday'sWorld NNP B-NP I-MISC,on IN I-PP O\nnext JJ I-NP O\nSaturday'sWorld ...
0,dev,4120,15,"[41, 51): 'CUNNINGHAM'","[33, 51): 'RANDALL CUNNINGHAM'",PER,CUNNINGHAM NNP I-NP I-PER,AMERICAN NNP I-NP I-MISC\nFOOTBALL-RANDALL NNP...
1,dev,10619,39,"[11, 23): 'Boxing-Bruno'","[18, 23): 'Bruno'",PER,Boxing-Bruno NN I-NP I-MISC,DOCSTART -X- -X- O\n\nBoxing-Bruno NN I-NP I-M...
2,dev,15911,60,"[1358, 1371): 'Tripoli-based'","[1358, 1365): 'Tripoli'",LOC,Tripoli-based JJ I-NP I-MISC,. . O O\n\nTripoli-based JJ I-NP I-MISC\ndiplo...
3,dev,19233,65,"[1125, 1134): 'asset-St.'","[1131, 1140): 'St. Louis'",LOC,asset-St NN I-NP I-MISC,9.33 CD I-NP O\nbillion CD I-NP O\nasset-St NN...
4,dev,19282,65,"[1359, 1376): 'Minneapolis-based'","[1359, 1370): 'Minneapolis'",LOC,Minneapolis-based JJ I-NP I-MISC,Missouri NNP I-NP I-LOC\nare VBP I-VP O\nMinne...
5,dev,19291,65,"[1419, 1429): 'Ohio-based'","[1419, 1423): 'Ohio'",LOC,Ohio-based JJ I-NP I-MISC,"Corp. NNP I-NP I-ORG\n, , I-NP O\nOhio-based J..."
6,dev,19130,65,"[592, 607): 'St. Louis-based'","[592, 601): 'St. Louis'",LOC,St. NNP I-NP I-MISC,""" "" O O\n\nSt. NNP I-NP I-MISC\nLouis-based JJ..."
7,dev,19168,65,"[793, 802): 'Mo.-based'","[793, 796): 'Mo.'",LOC,Mo.-based JJ I-NP I-MISC,"City NNP I-NP I-LOC\n, , I-NP O\nMo.-based JJ ..."
8,dev,44837,175,"[252, 264): 'London-based'","[252, 258): 'London'",LOC,London-based JJ I-NP I-MISC,A DT I-NP O\nLondon-based JJ I-NP I-MISC\nspok...
9,dev,46457,181,"[1761, 1774): 'Moscow-backed'","[1761, 1767): 'Moscow'",LOC,Moscow-backed JJ I-NP I-MISC,Chechnya NNP I-NP I-LOC\nand CC I-NP O\nMoscow...
10,dev,50964,198,"[39, 47): 'aid-U.N.'","[43, 47): 'U.N.'",ORG,aid-U.N. NN I-NP I-MISC,Iraqi JJ I-NP I-MISC\nmilitary JJ I-NP O\naid-...
0,train,17720,80,"[44, 59): 'rebels-Interfax'","[51, 59): 'Interfax'",ORG,rebels-Interfax NN I-NP O,clash NN I-NP O\nwith IN I-PP O\nrebels-Interf...
1,train,26117,115,"[17, 27): 'FOCUS-News'","[23, 27): 'News'",ORG,FOCUS-News JJ I-NP O,RTRS NNS I-NP I-ORG\n- : O O\nFOCUS-News JJ I-...
2,train,37914,163,"[220, 232): 'x-AEK Athens'","[222, 232): 'AEK Athens'",ORG,x-AEK IN I-NP I-ORG,: : O O\n\nx-AEK IN I-NP I-ORG\nAthens NNP I-N...
3,train,37926,163,"[271, 283): 'x-Olympiakos'","[273, 283): 'Olympiakos'",ORG,x-Olympiakos NNS I-NP I-ORG,) ) O O\n\nx-Olympiakos NNS I-NP I-ORG\nv IN I...
4,train,37933,163,"[308, 313): 'x-PAO'","[310, 313): 'PAO'",ORG,x-PAO JJ I-NP I-ORG,) ) O O\n\nx-PAO JJ I-NP I-ORG\nv IN I-NP O\nL...
5,train,38844,169,"[50, 61): 'trip-Canada'","[55, 61): 'Canada'",LOC,trip-Canada NN I-NP I-MISC,jeopardize VBP I-VP O\nCommonwealth NNP I-NP I...
6,train,44449,198,"[11, 20): 'WSC-India'","[11, 14): 'WSC'",ORG,WSC-India NNP I-NP I-ORG,DOCSTART -X- -X- O\n\nWSC-India NNP I-NP I-ORG...
7,train,44449,198,"[11, 20): 'WSC-India'","[15, 20): 'India'",LOC,WSC-India NNP I-NP I-ORG,DOCSTART -X- -X- O\n\nWSC-India NNP I-NP I-ORG...
8,train,65636,298,"[49, 60): '1997--Ruehe'","[55, 60): 'Ruehe'",PER,1997--Ruehe CD I-NP I-MISC,Bosnia NNP I-NP I-LOC\nfor IN I-PP O\n1997--Ru...
9,train,75410,343,"[11, 31): 'AUSTRALIAN RULES-AFL'","[11, 21): 'AUSTRALIAN'",MISC,AUSTRALIAN NNP I-NP I-MISC,DOCSTART -X- -X- O\n\nAUSTRALIAN NNP I-NP I-MI...
10,train,75410,343,"[11, 31): 'AUSTRALIAN RULES-AFL'","[28, 31): 'AFL'",MISC,AUSTRALIAN NNP I-NP I-MISC,DOCSTART -X- -X- O\n\nAUSTRALIAN NNP I-NP I-MI...
11,train,95553,422,"[236, 246): 'Videoton(*'","[236, 244): 'Videoton'",NaN,Videoton(* NN I-NP I-ORG,Csepel NN I-NP I-ORG\n1 CD I-NP O\nVideoton(* ...
12,train,102338,444,"[20, 40): 'SCOREBOARD-AUSTRALIA'","[31, 40): 'AUSTRALIA'",ORG,SCOREBOARD-AUSTRALIA NNP I-NP I-MISC,CRICKET NNP I-NP O\n- : O O\nSCOREBOARD-AUSTRA...
13,train,139024,593,"[45, 57): 'France-Juppe'","[45, 51): 'France'",LOC,France-Juppe JJ I-NP I-MISC,for IN I-PP O\ngloomy JJ I-NP O\nFrance-Juppe ...
14,train,139024,593,"[45, 57): 'France-Juppe'","[52, 57): 'Juppe'",PER,France-Juppe JJ I-NP I-MISC,for IN I-PP O\ngloomy JJ I-NP O\nFrance-Juppe ...
15,train,146605,626,"[42, 59): 'disarmament-China'","[54, 59): 'China'",LOC,disarmament-China NN I-NP I-MISC,step NN I-NP O\nto TO I-VP O\ndisarmament-Chin...
16,train,164709,701,"[17, 30): 'union-England'","[23, 30): 'England'",ORG,union-England JJ I-NP I-MISC,Rugby JJ I-NP O\nunion-England JJ I-NP I-MISC\...
17,train,172643,734,"[11, 31): 'BALANCE-Water Dist 1'","[19, 31): 'Water Dist 1'",ORG,BALANCE-Water JJ I-NP I-MISC,DOCSTART -X- -X- O\n\nBALANCE-Water JJ I-NP I-...
18,train,213462,918,"[11, 24): 'INTERVIEW-T&N'","[21, 24): 'T&N'",ORG,INTERVIEW-T&N NNP I-NP I-MISC,DOCSTART -X- -X- O\n\nINTERVIEW-T&N NNP I-NP I...

In [10]:
# Mark where a human labeler needs to enter the replacement for the line
full_df["correct_line"] = ""
full_df

,fold,line_no,doc_offset,corpus_span,correct_span,correct_ent_type,target_line,context,correct_line
0,test,1131,3,"[21, 37): 'SKIING-WORLD CUP'","[28, 37): 'WORLD CUP'",MISC,SKIING-WORLD NNP I-NP I-MISC,FREESTYLE NNP I-NP O\nSKIING-WORLD NNP I-NP I-...,
1,test,5687,25,"[24, 38): 'FOOTBALL-COLTS'","[33, 38): 'COLTS'",ORG,FOOTBALL-COLTS NNS I-NP O,NFL NNP I-NP I-ORG\nAMERICAN NNP I-NP O\nFOOTB...,
2,test,6545,27,"[565, 573): 'X-DENVER'","[567, 573): 'DENVER'",ORG,X-DENVER NNP I-NP I-MISC,PA NNP I-NP O\n\nX-DENVER NNP I-NP I-MISC\n12 ...,
3,test,6640,27,"[889, 900): 'Y-GREEN BAY'","[891, 900): 'GREEN BAY'",ORG,Y-GREEN NNP I-NP I-MISC,PA NNP I-NP O\n\nY-GREEN NNP I-NP I-MISC\nBAY ...,
4,test,6851,29,"[25, 44): 'FOOTBALL-OHIO STATE'","[34, 44): 'OHIO STATE'",ORG,FOOTBALL-OHIO NNP I-NP I-MISC,NCAA NNP I-NP I-ORG\nAMERICAN NNP I-NP O\nFOOT...,
5,test,8644,39,"[1158, 1175): 'AbelardoFernandez'","[1158, 1175): 'Abelardo Fernandez'",PER,AbelardoFernandez NNS I-NP I-PER,25-1 NNP I-NP O\n\nAbelardoFernandez NNS I-NP ...,
6,test,8709,40,"[215, 236): 'Real Madrid-Barcelona'","[215, 226): 'Real Madrid'",ORG,Real NNP I-NP I-MISC,'s POS B-NP O\nbig JJ I-NP O\nReal NNP I-NP I-...,
7,test,8709,40,"[215, 236): 'Real Madrid-Barcelona'","[227, 236): 'Barcelona'",ORG,Real NNP I-NP I-MISC,'s POS B-NP O\nbig JJ I-NP O\nReal NNP I-NP I-...,
8,test,12068,54,"[11, 27): 'INTERVIEW-ZYWIEC'","[21, 27): 'ZYWIEC'",ORG,INTERVIEW-ZYWIEC NNP I-NP I-MISC,DOCSTART -X- -X- O\n\nINTERVIEW-ZYWIEC NNP I-N...,
9,test,13001,56,"[11, 16): 'UK-US'","[11, 13): 'UK'",LOC,UK-US NNP I-NP I-MISC,DOCSTART -X- -X- O\n\nUK-US NNP I-NP I-MISC\no...,
10,test,13001,56,"[11, 16): 'UK-US'","[14, 16): 'US'",LOC,UK-US NNP I-NP I-MISC,DOCSTART -X- -X- O\n\nUK-US NNP I-NP I-MISC\no...,
11,test,14467,63,"[19, 39): 'office-Conservatives'","[26, 39): 'Conservatives'",ORG,office-Conservatives JJ I-NP I-MISC,Major NNP I-NP I-PER\n's POS B-NP O\noffice-Co...,
12,test,16319,75,"[2736, 2752): 'Newmont-Santa Fe'","[2736, 2743): 'Newmont'",ORG,Newmont-Santa NNP I-NP I-MISC,( ( O O\na DT I-NP O\nNewmont-Santa NNP I-NP I...,
13,test,16319,75,"[2736, 2752): 'Newmont-Santa Fe'","[2744, 2752): 'Santa Fe'",ORG,Newmont-Santa NNP I-NP I-MISC,( ( O O\na DT I-NP O\nNewmont-Santa NNP I-NP I...,
14,test,26720,114,"[11, 17): 'Iowa-S'","[11, 15): 'Iowa'",LOC,Iowa-S NNP I-NP I-LOC,DOCSTART -X- -X- O\n\nIowa-S NNP I-NP I-LOC\nM...,
15,test,26721,114,"[18, 22): 'Minn'","[16, 22): 'S Minn'",LOC,Minn NNP I-NP B-LOC,Iowa-S NNP I-NP I-LOC\nMinn NNP I-NP B-LOC\nfe...,
16,test,26728,114,"[51, 61): 'sales-USDA'","[57, 61): 'USDA'",ORG,sales-USDA NN I-NP I-MISC,", , O O\nno DT I-NP O\nsales-USDA NN I-NP I-MI...",
17,test,28718,123,"[11, 17): 'Iowa-S'","[11, 15): 'Iowa'",LOC,Iowa-S NNP I-NP I-LOC,DOCSTART -X- -X- O\n\nIowa-S NNP I-NP I-LOC\nM...,
18,test,28719,123,"[18, 22): 'Minn'","[16, 22): 'S Minn'",LOC,Minn NNP I-NP B-LOC,Iowa-S NNP I-NP I-LOC\nMinn NNP I-NP B-LOC\nfe...,
19,test,38688,178,"[951, 960): 'then-U.S.'","[956, 960): 'U.S.'",LOC,then-U.S. JJ I-NP I-MISC,"vandalism NN I-NP O\n, , O O\nthen-U.S. JJ I-N...",
20,test,39979,183,"[18, 35): 'SKIING-GLADISHIVA'","[25, 35): 'GLADISHIVA'",PER,SKIING-GLADISHIVA NNP I-NP I-MISC,ALPINE NNP I-NP O\nSKIING-GLADISHIVA NNP I-NP ...,
21,test,40619,186,"[1398, 1409): 'Austria)118'","[1398, 1405): 'Austria'",LOC,Austria)118 NNP I-NP O,Meissnitzer NNP I-NP I-PER\n( ( O O\nAustria)1...,
22,test,41169,188,"[18, 34): 'SKIING-WORLD CUP'","[25, 34): 'WORLD CUP'",MISC,SKIING-WORLD NNP I-NP I-MISC,NORDIC NNP I-NP O\nSKIING-WORLD NNP I-NP I-MIS...,
23,test,41413,190,"[11, 27): 'BOBSLEIGH-SHIMER'","[21, 27): 'SHIMER'",PER,BOBSLEIGH-SHIMER NNP I-NP I-MISC,DOCSTART -X- -X- O\n\nBOBSLEIGH-SHIMER NNP I-N...,
24,test,41595,191,"[11, 25): 'SKIING-CHINESE'","[18, 25): 'CHINESE'",LOC,SKIING-CHINESE JJ I-NP I-MISC,DOCSTART -X- -X- O\n\nSKIING-CHINESE JJ I-NP I...,
25,test,41850,192,"[11, 30): 'BOBSLEIGH-WORLD CUP'","[21, 30): 'WORLD CUP'",NaN,BOBSLEIGH-WORLD NNP I-NP I-MISC,DOCSTART -X- -X- O\n\nBOBSLEIGH-WORLD NNP I-NP...,
26,test,42385,194,"[21, 37): 'SKIING-WORLD CUP'","[28, 37): 'WORLD CUP'",NaN,SKIING-WORLD NNP I-NP I-MISC,FREESTYLE NNP I-NP O\nSKIING-WORLD NNP I-NP I-...,
27,test,46987,214,"[243, 262): 'Saturday'sWorld Cup'","[253, 262): 'World Cup'",MISC,Saturday'sWorld NNP B-NP I-MISC,on IN I-PP O\nnext JJ I-NP O\nSaturday'sWorld ...,
0,dev,4120,15,"[41, 51): 'CUNNINGHAM'","[33, 51): 'RANDALL CUNNINGHAM'",PER,CUNNINGHAM NNP I-NP I-PER,AMERICAN NNP I-NP I-MISC\nFOOTBALL-RANDALL NNP...,
1,dev,10619,39,"[11, 23): 'Boxing-Bruno'","[18, 23): 'Bruno'",PER,Boxing-Bruno NN I-NP I-MISC,DOCSTART -X- -X- O\n\nBoxing-Bruno NN I-NP I-M...,
2,dev,15911,60,"[1358, 1371): 'Tripoli-based'","[1358, 1365): 'Tripoli'",LOC,Tripoli-based JJ I-NP I-MISC,. . O O\n\nTripoli-based JJ I-NP I-MISC\ndiplo...,
3,dev,19233,65,"[1125, 1134): 'asset-St.'","[1131, 1140): 'St. Louis'",LOC,asset-St NN I-NP I-MISC,9.33 CD I-NP O\nbillion CD I-NP O\nasset-St NN...,
4,dev,19282,65,"[1359, 1376): 'Minneapolis-based'","[1359, 1370): 'Minneapolis'",LOC,Minneapolis-based JJ I-NP I-MISC,Missouri NNP I-NP I-LOC\nare VBP I-VP O\nMinne...,
5,dev,19291,65,"[1419, 1429): 'Ohio-based'","[1419, 1423): 'Ohio'",LOC,Ohio-based JJ I-NP I-MISC,"Corp. NNP I-NP I-ORG\n, , I-NP O\nOhio-based J...",
6,dev,19130,65,"[592, 607): 'St. Louis-based'","[592, 601): 'St. Louis'",LOC,St. NNP I-NP I-MISC,""" "" O O\n\nSt. NNP I-NP I-MISC\nLouis-based JJ...",
7,dev,19168,65,"[793, 802): 'Mo.-based'","[793, 796): 'Mo.'",LOC,Mo.-based JJ I-NP I-MISC,"City NNP I-NP I-LOC\n, , I-NP O\nMo.-based JJ ...",
8,dev,44837,175,"[252, 264): 'London-based'","[252, 258): 'London'",LOC,London-based JJ I-NP I-MISC,A DT I-NP O\nLondon-based JJ I-NP I-MISC\nspok...,
9,dev,46457,181,"[1761, 1774): 'Moscow-backed'","[1761, 1767): 'Moscow'",LOC,Moscow-backed JJ I-NP I-MISC,Chechnya NNP I-NP I-LOC\nand CC I-NP O\nMoscow...,
10,dev,50964,198,"[39, 47): 'aid-U.N.'","[43, 47): 'U.N.'",ORG,aid-U.N. NN I-NP I-MISC,Iraqi JJ I-NP I-MISC\nmilitary JJ I-NP O\naid-...,
0,train,17720,80,"[44, 59): 'rebels-Interfax'","[51, 59): 'Interfax'",ORG,rebels-Interfax NN I-NP O,clash NN I-NP O\nwith IN I-PP O\nrebels-Interf...,
1,train,26117,115,"[17, 27): 'FOCUS-News'","[23, 27): 'News'",ORG,FOCUS-News JJ I-NP O,RTRS NNS I-NP I-ORG\n- : O O\nFOCUS-News JJ I-...,
2,train,37914,163,"[220, 232): 'x-AEK Athens'","[222, 232): 'AEK Athens'",ORG,x-AEK IN I-NP I-ORG,: : O O\n\nx-AEK IN I-NP I-ORG\nAthens NNP I-N...,
3,train,37926,163,"[271, 283): 'x-Olympiakos'","[273, 283): 'Olympiakos'",ORG,x-Olympiakos NNS I-NP I-ORG,) ) O O\n\nx-Olympiakos NNS I-NP I-ORG\nv IN I...,
4,train,37933,163,"[308, 313): 'x-PAO'","[310, 313): 'PAO'",ORG,x-PAO JJ I-NP I-ORG,) ) O O\n\nx-PAO JJ I-NP I-ORG\nv IN I-NP O\nL...,
5,train,38844,169,"[50, 61): 'trip-Canada'","[55, 61): 'Canada'",LOC,trip-Canada NN I-NP I-MISC,jeopardize VBP I-VP O\nCommonwealth NNP I-NP I...,
6,train,44449,198,"[11, 20): 'WSC-India'","[11, 14): 'WSC'",ORG,WSC-India NNP I-NP I-ORG,DOCSTART -X- -X- O\n\nWSC-India NNP I-NP I-ORG...,
7,train,44449,198,"[11, 20): 'WSC-India'","[15, 20): 'India'",LOC,WSC-India NNP I-NP I-ORG,DOCSTART -X- -X- O\n\nWSC-India NNP I-NP I-ORG...,
8,train,65636,298,"[49, 60): '1997--Ruehe'","[55, 60): 'Ruehe'",PER,1997--Ruehe CD I-NP I-MISC,Bosnia NNP I-NP I-LOC\nfor IN I-PP O\n1997--Ru...,
9,train,75410,343,"[11, 31): 'AUSTRALIAN RULES-AFL'","[11, 21): 'AUSTRALIAN'",MISC,AUSTRALIAN NNP I-NP I-MISC,DOCSTART -X- -X- O\n\nAUSTRALIAN NNP I-NP I-MI...,
10,train,75410,343,"[11, 31): 'AUSTRALIAN RULES-AFL'","[28, 31): 'AFL'",MISC,AUSTRALIAN NNP I-NP I-MISC,DOCSTART -X- -X- O\n\nAUSTRALIAN NNP I-NP I-MI...,
11,train,95553,422,"[236, 246): 'Videoton(*'","[236, 244): 'Videoton'",NaN,Videoton(* NN I-NP I-ORG,Csepel NN I-NP I-ORG\n1 CD I-NP O\nVideoton(* ...,
12,train,102338,444,"[20, 40): 'SCOREBOARD-AUSTRALIA'","[31, 40): 'AUSTRALIA'",ORG,SCOREBOARD-AUSTRALIA NNP I-NP I-MISC,CRICKET NNP I-NP O\n- : O O\nSCOREBOARD-AUSTRA...,
13,train,139024,593,"[45, 57): 'France-Juppe'","[45, 51): 'France'",LOC,France-Juppe JJ I-NP I-MISC,for IN I-PP O\ngloomy JJ I-NP O\nFrance-Juppe ...,
14,train,139024,593,"[45, 57): 'France-Juppe'","[52, 57): 'Juppe'",PER,France-Juppe JJ I-NP I-MISC,for IN I-PP O\ngloomy JJ I-NP O\nFrance-Juppe ...,
15,train,146605,626,"[42, 59): 'disarmament-China'","[54, 59): 'China'",LOC,disarmament-China NN I-NP I-MISC,step NN I-NP O\nto TO I-VP O\ndisarmament-Chin...,
16,train,164709,701,"[17, 30): 'union-England'","[23, 30): 'England'",ORG,union-England JJ I-NP I-MISC,Rugby JJ I-NP O\nunion-England JJ I-NP I-MISC\...,
17,train,172643,734,"[11, 31): 'BALANCE-Water Dist 1'","[19, 31): 'Water Dist 1'",ORG,BALANCE-Water JJ I-NP I-MISC,DOCSTART -X- -X- O\n\nBALANCE-Water JJ I-NP I-...,
18,train,213462,918,"[11, 24): 'INTERVIEW-T&N'","[21, 24): 'T&N'",ORG,INTERVIEW-T&N NNP I-NP I-MISC,DOCSTART -X- -X- O\n\nINTERVIEW-T&N NNP I-NP I...,

In [11]:
full_df.to_csv("../corrected_labels/token_corrections_new.csv", index=False)

# Manual Step

Now you need to open up `token_corrections_new.csv` in a spreadsheet 
and manually type in a replacement string for each input line.

Once you've finished your edits, replace the existing file 
`token_corrections.csv` with the results of your edits. Then rerun
the next cell to regenerate `token_corrections.json`.

**Tip:** You can use the clipboard to copy the corrections that didn't 
change from `token_corrections.csv` to `token_corrections_new.csv`.

**Tip:** To be able to view the "context" column after opening the CSV file in
Excel, select the data rows and set the row height to 85

**Tip:** To paste a multiline string into a cell of an Excel file, 
**double**-click the cell and then paste.

**Tip:** If you need to edit a different line from the line in the "line_no"
column, then you can change the value of the "line_no" column.
A good example of this is the correction for "Real Madrid-Barcelona" in 
document 40 of the `test` fold, where the tokenizer treated "Madrid-Barcelona"
as a single token.

In [18]:
# Put the manually-curated file into the format that downstream scripts expect.
token_corrections_json_df = pd.read_csv("../corrected_labels/token_corrections.csv")

# Remove unexpected columns
token_corrections_json_df = token_corrections_json_df[
    ["line_no", "fold", "doc_offset", "corpus_span", "correct_span", "correct_line"]]

# Remove duplicate edits on the same source line
token_corrections_json_df = token_corrections_json_df.drop_duplicates(
    ["fold", "line_no", "doc_offset"], ignore_index=True);

# Use line number as index
token_corrections_json_df = token_corrections_json_df.set_index("line_no")
token_corrections_json_df.to_json("../corrected_labels/token_corrections.json", indent=4)
token_corrections_json_df

,fold,doc_offset,corpus_span,correct_span,correct_line
line_no,,,,,
1131,test,3,"[21, 37): 'SKIING-WORLD CUP'","[28, 37): 'WORLD CUP'",SKIING NNP I-NP O\n- NNP I-NP O\nWORLD NNP I-N...
5687,test,25,"[24, 38): 'FOOTBALL-COLTS'","[33, 38): 'COLTS'",FOOTBALL NNS I-NP O\n- NNS I-NP O\nCOLTS NNS I...
6545,test,27,"[565, 573): 'X-DENVER'","[567, 573): 'DENVER'",X NNP I-NP O\n- NNP I-NP O\nDENVER NNP I-NP I-...
6640,test,27,"[889, 900): 'Y-GREEN BAY'","[891, 900): 'GREEN BAY'",Y NNP I-NP O\n- NNP I-NP O\nGREEN NNP I-NP I-MISC
6851,test,29,"[25, 44): 'FOOTBALL-OHIO STATE'","[34, 44): 'OHIO STATE'",FOOTBALL NNP I-NP O\n- NNP I-NP O\nOHIO NNP I-...
8644,test,39,"[1158, 1175): 'AbelardoFernandez'","[1158, 1175): 'Abelardo Fernandez'",Abelardo NNS I-NP I-PER\nFernandez NNS I-NP I-PER
8709,test,40,"[215, 236): 'Real Madrid-Barcelona'","[215, 226): 'Real Madrid'",Real NNP I-NP I-ORG
8710,test,40,"[215, 236): 'Real Madrid-Barcelona'","[227, 236): 'Barcelona'",Madrid NNP I-NP I-ORG\n- NNP I-NP O\nBarcelona...
12068,test,54,"[11, 27): 'INTERVIEW-ZYWIEC'","[21, 27): 'ZYWIEC'",INTERVIEW NNP I-NP O\n- NNP I-NP O\nZYWIEC NNP...
13001,test,56,"[11, 16): 'UK-US'","[11, 13): 'UK'",UK NNP I-NP I-LOC\n- NNP I-NP O\nUS NNP I-NP I...
14467,test,63,"[19, 39): 'office-Conservatives'","[26, 39): 'Conservatives'",office JJ I-NP O\n- JJ I-NP O\nConservatives J...
16319,test,75,"[2736, 2752): 'Newmont-Santa Fe'","[2736, 2743): 'Newmont'",Newmont NNP I-NP I-ORG\n- NNP I-NP O\nSanta NN...
16320,test,75,"[2736, 2752): 'Newmont-Santa Fe'","[2744, 2752): 'Santa Fe'",Fe NNP I-NP I-ORG
26720,test,114,"[11, 17): 'Iowa-S'","[11, 15): 'Iowa'",Iowa NNP I-NP I-LOC\n- NNP I-NP O\nS NNP I-NP ...
26721,test,114,"[18, 22): 'Minn'","[16, 22): 'S Minn'",Minn NNP I-NP I-LOC
26728,test,114,"[51, 61): 'sales-USDA'","[57, 61): 'USDA'",sales NN I-NP O\n- NN I-NP O\nUSDA NN I-NP I-MISC
28718,test,123,"[11, 17): 'Iowa-S'","[11, 15): 'Iowa'",Iowa NNP I-NP I-LOC\n- NNP I-NP O\nS NNP I-NP ...
28719,test,123,"[18, 22): 'Minn'","[16, 22): 'S Minn'",Minn NNP I-NP I-LOC
38688,test,178,"[951, 960): 'then-U.S.'","[956, 960): 'U.S.'",then JJ I-NP O\n- JJ I-NP O\nU.S. JJ I-NP I-LOC
39979,test,183,"[18, 35): 'SKIING-GLADISHIVA'","[25, 35): 'GLADISHIVA'",SKIING NNP I-NP O\n- NNP I-NP O\nGLADISHIVA NN...
40619,test,186,"[1398, 1409): 'Austria)118'","[1398, 1405): 'Austria'",Austria NNP I-NP I-LOC\n) NNP I-NP O\n118 NNP ...
41169,test,188,"[18, 34): 'SKIING-WORLD CUP'","[25, 34): 'WORLD CUP'",SKIING NNP I-NP O\n- NNP I-NP O\nWORLD NNP I-N...
41413,test,190,"[11, 27): 'BOBSLEIGH-SHIMER'","[21, 27): 'SHIMER'",BOBSLEIGH NNP I-NP O\n- NNP I-NP O\nSHIMER NNP...
41595,test,191,"[11, 25): 'SKIING-CHINESE'","[18, 25): 'CHINESE'",SKIING JJ I-NP O\n- JJ I-NP O\nCHINESE JJ I-NP...
41850,test,192,"[11, 30): 'BOBSLEIGH-WORLD CUP'","[21, 30): 'WORLD CUP'",BOBSLEIGH NNP I-NP O\n- NNP I-NP O\nWORLD NNP ...
42385,test,194,"[21, 37): 'SKIING-WORLD CUP'","[28, 37): 'WORLD CUP'",SKIING NNP I-NP O\n- NNP I-NP O\nWORLD NNP I-N...
46987,test,214,"[243, 262): 'Saturday'sWorld Cup'","[253, 262): 'World Cup'",Saturday NNP B-NP O\n's NNP B-NP O\nWorld NNP ...
4119,dev,15,"[41, 51): 'CUNNINGHAM'","[33, 51): 'RANDALL CUNNINGHAM'",FOOTBALL NNP I-NP O\n- NNP I-NP O\nRANDALL NNP...
10619,dev,39,"[11, 23): 'Boxing-Bruno'","[18, 23): 'Bruno'",Boxing NN I-NP O\n- NN I-NP O\nBruno NN I-NP I...
15911,dev,60,"[1358, 1371): 'Tripoli-based'","[1358, 1365): 'Tripoli'",Tripoli JJ I-NP I-LOC\n- JJ I-NP O\nbased JJ I...
19233,dev,65,"[1125, 1134): 'asset-St.'","[1131, 1140): 'St. Louis'",asset NN I-NP O
19234,dev,65,"[1125, 1134): 'asset-St.'","[1131, 1140): 'St. Louis'",- NN I-NP O
19235,dev,65,"[1125, 1134): 'asset-St.'","[1131, 1140): 'St. Louis'",St. NN I-NP I-LOC
19236,dev,65,"[1125, 1134): 'asset-St.'","[1131, 1140): 'St. Louis'",Louis NNP I-NP I-LOC
19282,dev,65,"[1359, 1376): 'Minneapolis-based'","[1359, 1370): 'Minneapolis'",Minneapolis JJ I-NP I-LOC\n- JJ I-NP O\nbased ...
19291,dev,65,"[1419, 1429): 'Ohio-based'","[1419, 1423): 'Ohio'",Ohio JJ I-NP I-LOC\n- JJ I-NP O\nbased JJ I-NP O
19130,dev,65,"[592, 607): 'St. Louis-based'","[592, 601): 'St. Louis'",St. NNP I-NP I-LOC
19131,dev,65,"[592, 607): 'St. Louis-based'","[592, 601): 'St. Louis'",Louis JJ I-NP I-LOC\n- JJ I-NP O\nbased JJ I-NP O
19168,dev,65,"[793, 802): 'Mo.-based'","[793, 796): 'Mo.'",Mo. JJ I-NP I-LOC\n- JJ I-NP O\nbased JJ I-NP O
44837,dev,175,"[252, 264): 'London-based'","[252, 258): 'London'",London JJ I-NP I-LOC\n- JJ I-NP O\nbased JJ I-...
46457,dev,181,"[1761, 1774): 'Moscow-backed'","[1761, 1767): 'Moscow'",Moscow JJ I-NP I-LOC\n- JJ I-NP O\nbacked JJ I...
50964,dev,198,"[39, 47): 'aid-U.N.'","[43, 47): 'U.N.'",aid NN I-NP O\n- NN I-NP O\nU.N. NN I-NP I-ORG
17720,train,80,"[44, 59): 'rebels-Interfax'","[51, 59): 'Interfax'",rebels NN I-NP O\n- NN I-NP O\nInterfax NN I-N...
26117,train,115,"[17, 27): 'FOCUS-News'","[23, 27): 'News'",FOCUS JJ I-NP O\n- JJ I-NP O\nNews JJ I-NP I-ORG
37914,train,163,"[220, 232): 'x-AEK Athens'","[222, 232): 'AEK Athens'",x IN I-NP O\n- IN I-NP O\nAEK IN I-NP I-ORG
37926,train,163,"[271, 283): 'x-Olympiakos'","[273, 283): 'Olympiakos'",x NNS I-NP O\n- NNS I-NP O\nOlympiakos NNS I-N...
37933,train,163,"[308, 313): 'x-PAO'","[310, 313): 'PAO'",x JJ I-NP O\n- JJ I-NP O\nPAO JJ I-NP I-ORG
38844,train,169,"[50, 61): 'trip-Canada'","[55, 61): 'Canada'",trip NN I-NP O\n- NN I-NP O\nCanada NN I-NP I-LOC
44449,train,198,"[11, 20): 'WSC-India'","[11, 14): 'WSC'",WSC NNP I-NP I-ORG\n- NNP I-NP O\nIndia NNP I-...
65636,train,298,"[49, 60): '1997--Ruehe'","[55, 60): 'Ruehe'",1997 CD I-NP O\n-- CD I-NP O\nRuehe CD I-NP I-PER
75411,train,343,"[11, 31): 'AUSTRALIAN RULES-AFL'","[11, 21): 'AUSTRALIAN'",RULES NNP I-NP I-MISC\n- NNP I-NP O\nAFL NNP I...
95553,train,422,"[236, 246): 'Videoton(*'","[236, 244): 'Videoton'",Videoton NN I-NP I-ORG\n( NN I-NP O\n* NN I-NP O
102338,train,444,"[20, 40): 'SCOREBOARD-AUSTRALIA'","[31, 40): 'AUSTRALIA'",SCOREBOARD NNP I-NP O\n- NNP I-NP O\nAUSTRALIA...
139024,train,593,"[45, 57): 'France-Juppe'","[45, 51): 'France'",France JJ I-NP I-LOC\n- JJ I-NP I-MISC\nJuppe ...
146605,train,626,"[42, 59): 'disarmament-China'","[54, 59): 'China'",disarmament NN I-NP O\n- NN I-NP O\nChina NN I...
164709,train,701,"[17, 30): 'union-England'","[23, 30): 'England'",union JJ I-NP O\n- JJ I-NP O\nEngland JJ I-NP ...
172643,train,734,"[11, 31): 'BALANCE-Water Dist 1'","[19, 31): 'Water Dist 1'",BALANCE JJ I-NP O\n- JJ I-NP O\nWater JJ I-NP ...
172644,train,734,"[11, 31): 'BALANCE-Water Dist 1'","[19, 31): 'Water Dist 1'",Dist NN I-NP I-ORG
172645,train,734,"[11, 31): 'BALANCE-Water Dist 1'","[19, 31): 'Water Dist 1'",1 CD I-NP I-ORG
213462,train,918,"[11, 24): 'INTERVIEW-T&N'","[21, 24): 'T&N'",INTERVIEW NNP I-NP O\n- NNP I-NP O\nT&N NNP I-...